.mainw img{    margin:0 auto}


.gr1{   position: relative; margin-top:145px;   width: 100%;}
.gr1 pre{   font-family: 'Baskervville', serif; color: #cb9e61; text-align: center;}


.gr11{  position: relative; clear: both; margin-bottom: 2%;}
.gr11trtr{ width: 60%;  padding-left: 10%;}
.gr11tduoi{width: 20%;    padding-left: 50%;  padding-top: 10px; clear: both;}
.gr11phai{  position: absolute; top:10%; left: 71%; width: 25%;}
.gr11phai img{width: 100%;}
.gr5p{    text-align: center;    width: 100%;    position: absolute;    top: -25px;    background-color: #929496;
    color: white;    padding: 5px 0;    font-family: 'Montserrat', serif;}
.gr11duoi{width: 80%; float: left;}
.gr11nen{   position: absolute; top: 45%; left: 0; z-index: -1;}
.gr11la{   position: absolute;; left: 5%; top:0; width: 10%;}
.gr11la img{    width: 100%;}
.gr11p{     position: absolute; bottom: 15%;    font-size: 200%;  color: #929496;
    border-radius: 50px;    font-family: 'Libre Baskerville', serif; left: 5%; width: 50%;}


.gr12{position: relative; float: left; clear: both;}
.gr12trai
.gr12to {  position: absolute; right: 0%; top:0;    width: 45%;}
.gr12to img{ width: 100%;}
.gr12tren{  position: absolute;left: 39%; top:0;  width: 20%;}
.gr12tren img{ width: 100%;}
.gr12duoi{  position: absolute;left: 60%; top:57%;  width: 20%;}
.gr12duoi img{width: 100%;}
.gr12nen1{   position: absolute; top: 45%; left: 30%; z-index: -1;}
.gr12nen2{   position: absolute; top: 20%; right: -5%; z-index: -2;}
.boanh{border: 8px solid white;    border-radius: 5px;}
.gr12trai{ width: 37%;   float: left; margin-bottom: 30%;}
.gr4d1{    text-align: right;    font-family: 'Baskervville', serif; color: #929496; font-size: 30px;  margin-top: 30%;}
.gr4d2{    text-align: right;    font-family: 'Baskervville', serif; color: #cb9e61; font-size: 30px; margin-bottom: 5%;}
.gr4inp{ float: right; width: 90%; height: 30px; border: 2px solid #929496; border-radius: 3px;    margin-bottom: 2%;}
input::placeholder{ text-align: right;  padding-right: 10px;}
.gr4r{    width: 100%;    float:left}
.gr4r img{    width: 100%;    margin-top: 5%;    clear: both;}
.gr4but{    float: right;    width: 91%;    height: 30px;    border: 1px solid #cb9e61;    border-radius: 3px;  
    background-color: #cb9e61;    color: white;    font-family: 'Baskervville', serif;    font-size: 20px;  margin: 0px 0 5%;}
.gr4d{    font-family: 'Barlow', sans-serif; font-size: 14px; color: #929496; float: right; width: 100%;text-align: right;}
select{ width: 90.7%;   margin:2% 0;    padding: 5px;   font-size: 15px;    color: #929496; text-align: right;
      border:2px solid #929496; border-radius: 3px; float: right;}
