
.mainw img{    margin:0 auto}



.gr1{   position: relative; margin-top:145px;   width: 100%; margin-bottom: 5%;}
.gr1 pre{   font-family: 'Baskervville', serif; color: #cb9e61; text-align: center;}


.gr10{  position: relative;    z-index: -3;}
.gr10trai{width: 45%;}
.gr10trai img{ width: 45%;}

.gr10phai{  position: absolute; top:0;left: 46%; width: 35%;}
.gr10phai img{ width: 100%;}

.gr10duoi{    position: absolute; left: 46%; top: 34%; width: 30%;}
.gr10duoi img{ width: 100%;}

.gr10nent{  position: absolute; top:-15%;left: -5%;}
.gr10nen{    position: absolute; right: -5%; top:0;    z-index: -3;}

.gr10pfa{   position: absolute; right: 5%;bottom: 5%; width: 50%;}
.gr10note{  padding: 1%;    font-size: 200%; background-color: #cb9e61;
    color: white; border-radius: 50px;    font-family: 'Libre Baskerville', serif; 
    text-align: center; width: 50%;}

.gr10p{width: 350px;   margin-top: 15px;    padding: 10px;    font-size: 30px;color: #cb9e61;
     border-radius: 50px;    font-family: 'Libre Baskerville', serif; 
    text-align: center;}
.gr5p{    text-align: center;    width: 100%;    position: absolute;    bottom: -25px;    background-color: #929496;
        color: white;    padding: 5px 0;    font-family: 'Montserrat', serif;}
.gr10la{    position: absolute; bottom:5%;   left: -5%; width: 15%;}
.gr10la img{ width: 100%;}




.gr8{    position: relative; clear: both;}
.gr8tren{    position: absolute; left: 40%;    top:5%; width: 35%;}
.gr8tren img{   width: 100%;}
.gr8phai {    position: absolute; left: 45%; top: 45%; width: 25%;}
.gr8phai img{   width: 100%;}
.gr8gach{   position: absolute; left: 45%;   top: 73%; width: 5%;}
.gr8gach img{width: 100%;}
.gr8nen{    position: absolute; right: 0; top:0;    z-index: -3;}
.gr8trai{width: 44%;}
.gr8p{  position: absolute; width: 40%;   ;bottom: 5%; right: 0;     font-family: 'Libre Baskerville', serif; color: #cb9e61;}
.gr8pl{ width: 30%;    float: left;    font-size: 120px;}
.gr8pr{ width: 70%;    float: left;}
.gr8prtren{ font-size: 300%;height: 50%;}
.gr8prduoi{ font-size: 200%;}




