footer{ height: 380px;  background-color: #999999;  margin: 0 60px;padding-top: 70px;
        position: relative;   color: white ;  clear: both;      z-index: 1;}
.gr9cot1{ width: 25%;    float: left;   text-align: right;}
footer li{  list-style: none;   margin-bottom: 2%;}
footer a{    color: white;  text-decoration: none;  font-family: 'Montserrat',serif;    font-size: 15px;}
.gr9cot2{ width: 30%;     float: left;   text-align: center; padding-left:5%}
.gr9cot3{ width: 30%;    float: right;   text-align: left; padding-top: 20%;}
.cantren{   margin-top: 60px;}
.toolr{   font-weight: bold;}
.gr9giua{    width: 100%; margin: 0 auto;
     text-align: left; padding-top: 20px;}
.gr9tren{ font-family: 'Baskervville';  font-size: 20px;    color: white;   margin-bottom: 25px;}
.gr9ipt{    width: 100%; height: 25px;    padding: 2px ;  font-family: 'Baskervville';  }
.gr9but{    width: 101%; height: 30px;   border: 1px solid #cb9e61;    border-radius: 3px;    background-color: #cb9e61;
        color: white;    font-family: 'Baskervville', serif;  margin: 10px 0;    padding: 2px ;}
.gr9duoi{    font-family: 'Barlow', sans-serif; font-size: 10px; color: #ffffff;  text-align: left; margin-top: 10px;}
.gr9cot3 h1{    font-family: 'Baskervville'; font-size: 40px; margin: 10% 0 5% 0;}
.gr9hd1{    font-family: 'Baskervville';}
