.mainw img{    margin:0 auto}



.gr1{   position: relative; margin-top:145px;   width: 100%; margin-bottom: 5%;}
.gr1 pre{   font-family: 'Baskervville', serif; color: #cb9e61; text-align: center;}
    
.gr2p1{    font-family: 'Baskervville', serif;    color: #cb9e61;
    text-align: center; margin-top:  30px auto; font-size: 30px;}

.kit{   position: relative; height: 700px;}

.tren1{    font-family: 'Baskervville', serif; color: #cb9e61;    font-size: 200%;
    }
.kitphai{   position: absolute; left :50%;z-index: -3; width: 45%;}
.kitphai img{width: 100%;}
.kittrai{   position: absolute;   top:27%;    left: 34%; width: 15%;}
.kittrai img{   width: 100%;}
.kitduoi{   position: absolute; top:55%;  left: 50%; width: 20%;}
.kitduoi img{   width: 100%;}
.kitnen{position: absolute; top:55%;  right:5%;   z-index:-4; width: 18%;}
.kitnen img{    width: 100%;}
.kitnen1{   position: absolute; right: 0px;bottom: 2%; z-index: -5;}
.kitnent{   position: absolute; right: 5%;top:-20%; z-index: -1;}
.kitgach{   width: 4%;    height: 20%;   background-color: #e0c39c;  position: absolute;    left: 71%;   top:55%}
.kitp{  width: 50%; float: left;}
.kitipt{    width: 60%;    height: 30px;    margin-top: 15px;    padding: 0 10px;    font-size: 13px;}
.kitbut{    width: 64%;    height: 30px;    margin-top: 15px;    padding: 0 10px;    font-size: 13px;background-color: #cb9e61;
        color: white; border: none;    font-family: 'Baskervville', serif;    font-size: 20px;}
.kitpduoi{font-family: 'Barlow', sans-serif; font-size: 14px; color: #929496; margin: 20px 0;  width: 400px;}
.tren2{ font-family: 'Baskervville', serif; color: #cb9e61;    font-size: 20px; margin: 20px 0;}



.gr7{    clear: both; position: relative; margin-bottom: 7%;}
.gr7nen{   width: 100%;}
.gr7nen img{    width: 100%;}
.gr7bong{   position: absolute; left: 65%;   bottom: -10%; z-index: -1; width: 30%;}
.gr7bong img{ width: 100%;}
.gr7deanh{  position: absolute; top:-10%;left:-5% ;   }
.gr7deanh img{  width: 100%;}
.gr7form{        width: 40%;       background-color:   rgba(255, 255, 255, 0.8);
        position: absolute; top:40%;  left:30%; padding: 3% 2% ;}
.gr7ipt{    width: 100%;    height: 30px;    margin-top: 2%;    font-size: 13px;}
.gr7but{    width: 101%;    height: 30px;    margin-top: 15px;    font-size: 13px; background-color: #cb9e61;
        color: white; border: none;    font-family: 'Baskervville', serif;    font-size: 20px;}
.gr7p{font-family: 'Barlow', sans-serif; font-size: 14px; color: #929496; margin-top: 20px;  }
.gr7tren{ width: 50%; text-align: center; position: absolute; top:30px;  left: 25%;z-index: 1; font-size: 200%;}






