.mainw img{    margin:0 auto}


.gr1{   position: relative; margin-top:145px;   width: 100%; margin-bottom: 5%;}
.up{position: relative; }
.gr1nen{width: 100%;}
.gr1 pre{   font-family: 'Baskervville', serif; color: #cb9e61; text-align: center;}
.up .inpgr1{    position: absolute;  bottom: 70px;left: 80%; }
.inpgr1 input{    width: 167px;    margin-bottom: 3px;}
.inpgr1 button{    width: 170px;    height: 20px;    background-color: #cb9e61;    border: none;}
.down1{    position: absolute;right: -5%; bottom: -10%;z-index: -1;}



.c1{    width: 25%;    font-size: 10px;    float: left;    margin-top: 5%;}
.cant{    margin-left: 5%;}
.c1 .chu{    background-color: #929496;    color: white;    padding: 7px;}
.c1 img{    width: 100%;}
.gr2picfa{    margin-left: 17% ;}
.gr2p1{    font-family: 'Baskervville', serif;    color: #cb9e61;
        text-align: center; margin-top:  30px auto;}
.gr2picfa .h1{    width: 100%;    clear: both;}
.gr2p2{    clear: both;    width:85%;    float: left;    text-align: center;
    font-size: 10px;    font-family: 'Montserrat', serif;    color: #929496;
    font-weight: bold;    padding:3% 0;}


.gr3{ display: inline-block; margin-bottom: 5%;}
.gr3l{    width: 60%;    float: left;    position: relative;}
.gr3l img{    width: 100%;}
.gr3l .leaf{    position: absolute;    width: 50%;    bottom: -10%;    right: -20%;}
.gr3r{    width: 30%;    float: right;    margin: 50px;    text-align: left;}
.tren1{    font-family: 'Baskervville', serif; color: #cb9e61;    font-size: 200%;    margin: 10% 0 15% 0;}
.tren2{    font-family: 'Baskervville', serif; color: #929496;    font-size: 200%;}
.duoi1{    font-family: 'Baskervville', serif; color: white;    background-color: #cb9e61;
        margin: 20% 2px;    width: 70%;    text-align: left;}
.duoi2{    font-family: 'BlackJack', sans-serif;    color: #929496; font-size: 200%;}



.gr4l{    width: 50%;    float: left;    position: relative; }
.gr4p{ width: 70%; float: right;    text-align: right;   margin-top: 50%;}
.gr4l .gr4bgr{    position: absolute;    top:0; left: -10%;    z-index: -2;}
.gr4d1{   font-family: 'Baskervville', serif; color: #cb9e61; font-size: 200%;}
.gr4d2{    font-family: 'Baskervville', serif; color: #929496; font-size: 200%; margin-bottom: 5%;}
.gr4inp{ width: 99%; height: 30px; border: 2px solid #929496; border-radius: 3px;    margin-bottom: 5px;}
.gr4r{    width: 40%;    float:right;}
.gr4r img{    width: 100%;}
.gr4but{   width: 100%;    height: 30px;    border: 1px solid #cb9e61;    border-radius: 3px;     margin-top: 1%;
    background-color: #cb9e61;    color: white;    font-family: 'Baskervville', serif;    font-size: 20px;}
.gr4d{    font-family: 'Barlow', sans-serif; font-size: 14px; color: #929496;   margin-top: 5%;}



.gr5{    clear: both;    padding-top: 5%; padding-bottom: 20%;    display: block;    position: relative;}
.gr5fa{ z-index: -1; position: relative;}
.gr5hinh{    position: relative;    clear: both;    z-index: 0;}
.gr5l{    width: 25%;    bottom: -20%;    left:4%;    position: absolute}
.gr5l img{       margin-top: 5px; width: 100%;}
.gr5gach {    width: 70%;float: right; }
.gr5p{    text-align: center;    width: 100%;    position: absolute;    bottom: -25px;    background-color: #929496;
    color: white;    padding: 5px 0;    font-family: 'Montserrat', serif;}
.gr5giua{    position: relative;width: 40%;}
.gr5giua img{    width: 100%;}
.gr5phai{    position: absolute;    left: 71%;    width: 20%; top:0}
.gr5phai img{    width: 100%;}
.gr5la{    position: absolute;    left: -20%; top:0;   z-index: -1;    }
.gr5la img{    width: 90%;}
.gr5nent{    position: absolute; z-index: 0; top:-20%; left: 5%;}
.gr5nen{    position: absolute;    right: -5%;    top:20%;    z-index: -5;}
.gr5nen img{width: 100%;}
.gr5text{    width: 40%;    z-index: 1;    position: absolute;    left: 30%; top: 80%;}
.gr5 h1{    clear: both; text-align: center;    font-family: 'Baskervville', serif;    color: #cb9e61;
        text-align: center; z-index: 10;}



.gr6{ clear: both;    position: relative;    }
.gr6l {width: 27%;float: left;text-align: right;}
.gr6r{  width: 70%;    height: 740px; float: right;    position: relative;}
.gr6anhgiua{width: 70%; float: left; }
.gr6anhgiua img{ width: 100%;}
.boanh{border: 8px solid white;    border-radius: 5px;}
.gr6anhduoi{ position: absolute;width: 35%;;    left: 30%; top:50%;z-index: 1;}
.gr6anhduoi img{ width: 100%;}
.gr6deanh{     position: absolute;    top:30%; left: 69%;}
.gr6gach{position: absolute; left: 73%;}
.gr6nen{position: absolute; top:50%; left: 40%; z-index: -1; width: 50%;}
.gr6nen img{ width: 100%;}
.gr6leaf{   position: absolute;top:50%; left: 0; width: 20%;}
.gr6leaf img{ width: 100%;}
.gr6 .duoi2{margin-top: 25%;}



.gr7{    clear: both; position: relative; margin-bottom: 7%;}
.gr7nen{   width: 100%;}
.gr7nen img{    width: 100%;}
.gr7bong{   position: absolute; left: 65%;   bottom: -10%; z-index: -1; width: 30%;}
.gr7bong img{ width: 100%;}
.gr7deanh{  position: absolute; top:-10%;left:-5% ;   }
.gr7deanh img{  width: 100%;}
.gr7form{        width: 40%;       background-color:   rgba(255, 255, 255, 0.8);
        position: absolute; top:40%;  left:30%; padding: 3% 2% ;}
.gr7ipt{    width: 100%;    height: 30px;    margin-top: 2%;    font-size: 13px;}
.gr7but{    width: 101%;    height: 30px;    margin-top: 15px;    font-size: 13px; background-color: #cb9e61;
        color: white; border: none;    font-family: 'Baskervville', serif;    font-size: 20px;}
.gr7p{font-family: 'Barlow', sans-serif; font-size: 14px; color: #929496; margin-top: 20px;  }
.gr7tren{ width: 50%; text-align: center; position: absolute; top:30px;  left: 25%;z-index: 1; font-size: 200%;}



.gr8{    position: relative;}
.gr8tren{    position: absolute; left: 40%;    top:5%; width: 35%;}
.gr8tren img{   width: 100%;}
.gr8phai {    position: absolute; left: 45%; top: 45%; width: 25%;}
.gr8phai img{   width: 100%;}
.gr8gach{   position: absolute; left: 45%;   top: 73%; width: 5%;}
.gr8gach img{width: 100%;}
.gr8nen{    position: absolute; right: 0; top:0;    z-index: -3;}
.gr8trai{width: 44%;}
.gr8p{  position: absolute; width: 40%;   ;bottom: 5%; right: 0;     font-family: 'Libre Baskerville', serif; color: #cb9e61;}
.gr8pl{ width: 30%;    float: left;    font-size: 120px;}
.gr8pr{ width: 70%;    float: left;}
.gr8prtren{ font-size: 300%;height: 50%;}
.gr8prduoi{ font-size: 200%;}
